.App {
  background-color: hsl(180, 52%, 96%);
}

.App-header {
  width: 1920px;
  height: 156px;
  background-image: url(./bg-header-desktop.svg);
  background-color: hsl(180, 29%, 50%);
  color: hsl(180, 14%, 20%);

}

.container {
  padding: 10px 0px;
}

.row {
  display: flex;
  background-color: white;
  padding: 20px;
  box-shadow: 1px 5px 15px hsl(180, 8%, 52%);
  margin-left: 10px;
  margin-right: 10px;
}

.logo-job {
  display: flex;
  align-items: center;
}

.content-job {
  margin-left: 20px;
}

.company {
  display: flex;
  align-items: center;
}

.new {
  margin-left: 10px;
  background-color: hsl(180, 29%, 50%);
  border-radius: 20px;
  color: white;
  font-weight: 700;
  padding: 0 7px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2;
}

.featured {
  margin-left: 10px;
  background-color: hsl(180, 14%, 20%);
  border-radius: 20px;
  color: white;
  font-weight: 700;
  padding: 0 7px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2;
}

.role-level {
  margin-left: auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}


.languages {
  display: flex;
  margin-left: 10px;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  align-items: center;
}

button {
  margin: 10px;
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  padding: 5px;
  font-size: 15px;
  border: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width:500px) {
  .role-level {
    margin: auto;
    justify-content: center;
  }

  .row {
    flex-direction: column;
  }

}